/* DEFAULT SETTINGS
------------------------------------------------------------------------ */

.form-input {
	@include inline;
	@include size(100%, $form-height);
	@include font($font-size, null, 20px, $color);
	padding: 8px 10px;
	border: 1px solid $form-border;
	box-shadow: 0 0 0px transparent;
	transition: all 0.3s ease 0s;
	
	&:focus {
		border-color: $color-info;
		box-shadow: 0 0 5px rgba($color-info, 0.3);
	}
	
	&[readonly] {
		background: $body-color;
		
		&:focus {
			box-shadow: none;
		}
	}
	
	&[disabled] {
		background: $color-disabled;
		cursor: not-allowed;
		
		&:focus {
			box-shadow: none;
		}
	}
}

textarea.form-input {
	height: auto;
	padding: 8px 10px;
	resize: vertical;
	min-height: $form-height;
	
	&.noresize {
		resize: none;
	}
}

/* DEFAULT SELECT
------------------------------------------------------------------------ */

select.form-input {

	option {
		padding: 5px 10px;
	}
	
	&[multiple] {
		height: auto;
		padding: 5px 0;
		
		option {
			padding: 5px 10px;
		}
	}
}

/* CODE
------------------------------------------------------------------------ */

.form-input-code {
	font-family: 'Courier New', monospace;
}

/* CUSTOM SELECT
------------------------------------------------------------------------ */

.form-select {
	@include inline;
	width: 100%;
	
	&.jq-selectbox {
		padding: 0;
		border: 0;
		background: #fff;
		cursor: pointer;
					
		.jq-selectbox {
			
			&__select {
				position: relative;
				z-index: 10;
				max-width: 100%;
				overflow: hidden;
				border: 1px solid $form-border;
				background: #fff;
				transition: all 0.3s ease 0s;
				
				&-text {
					max: {@include size(100%, 100%);}
					@include font($font-size, null, 20px, $color);
					padding: 9px 40px 9px 10px;
					@include ellipsis;
				}
			}
			&__trigger {
				@include position(absolute, null, 0, 0);
				@include flex(center, center);
				@include font(null, null, null, $color-gray-lite);
				@include size(30px, 100%);
			}
			&__dropdown {
				width: 100%;
				max-width: 100%;
				background: #fff;
				border: 1px solid $form-border;
				box-shadow: 0 0 10px 2px rgba(#000, 0.1);
				
				li {
					padding: 8px 10px;
					white-space: normal $imp;
					border-bottom: 1px solid $form-border;
					
					&[data-type="parent"] {font-weight: 600;}
					&[data-type="empty"] {color: $color-gray-lite;}
					
					&:last-child {border: 0;}
					
					&:hover {background: $body-color;}
					&.selected {background: $body-color;}
					&.disabled {
						color: $color-gray-lite;
						cursor: not-allowed;
					}
					
					&.optgroup {
						font-weight: 700;
						cursor: not-allowed;
						
						&:hover {background: #fff;}
					}
					&.option {
						padding-left: 25px;
					}
				}
			}
			&__search {
				.form-input {
					background: #f9f9f9;
					box-shadow: none $imp;
					
					&:focus {
						border-color: darken($form-border, 15%);
					}
				}
				
			}
			&__not-found {
				padding: 10px 10px;
				@include font(null, 600, 20px, $color-error);
			}
		}
			
		&.opened {
			
			.jq-selectbox {
				
				&__select {
					border-color: $color-info;
				}
				&__trigger {
					&-arrow {
						color: $color-gray;
						@include rotate(180deg);
					}
				}
			}
		}
		&:hover {
			
			.jq-selectbox {
			
				&__trigger {
					&-arrow {
						color: $color-gray;
					}
				}
			}
		}
	}
	
}

/* INPUT FILE
------------------------------------------------------------------------ */

.form-file {
	@include inline;
	position: relative;
	width: 100%;
	padding-right: 110px;
	
	.form-input {
		padding-right: $form-height + 10;
		background: #fff;
	}
	.btn {
		@include position(absolute, null, 0, 0);
		width: 110px;
		
		.fa5 {margin-right: 5px;}
	}

	&-clear {
		@include flex(center, center);
		@include position(absolute, null, 0, 110px);
		@include size($form-height, $form-height);
		@include font(16px, null, null, $color-gray-lite);
		text-decoration: none;
		
		&-hidden {
			display: none;
		}
		&:hover {
			color: $color-error;
		}
	}
	/*&-clear {
		margin-top: 5px;
		@include font(12px, 500, 15px);
	}*/
	
	input[type="file"] {
		display: none $imp;
	}
	
	&-preview {
		margin-top: $margin;
	}
		
	&-img {
		width: 300px;
		max: {@include size(100%, 100px)};
		
		img {
			display: block;
			max: {@include size(100%, 100px)};
		}
	}
}

/* INPUT GROUPS
------------------------------------------------------------------------ */

.input-group {
	@include flex(stretch);
	position: relative;
	width: 100%;
	
	> .form-input,
	> .form-select {
		position: relative;
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;

		+ .form-input,
		+ .form-select {
			margin-left: -1px;
		}
	}
	
	> .form-input:focus,
	> .form-select:focus {
		z-index: 3;
	}
}

.input-group-prepend,
.input-group-append {
	display: flex;
	
	.btn {
		position: relative;
		z-index: 2;

		&:focus {
			z-index: 3;
		}
	}

	.btn + .btn,
	.btn + .input-group-text,
	.input-group-text + .input-group-text,
	.input-group-text + .btn {
		margin-left: -1px;
	}
}

.input-group-prepend {
	margin-right: -1px;
}

.input-group-append {
	margin-left: -1px;
}

.input-group-text {
	@include flex(center);
	padding: 5px 10px;
	margin-bottom: 0;
	@include font($font-size, 600, 1, $color-gray);
	text-align: center;
	white-space: nowrap;
	background-color: $body-color;
	border: 1px solid $form-border;

	input[type="radio"],
	input[type="checkbox"] {
		margin-top: 0;
	}
}
