.text-editor {
	@include font(16px, null, 1.7);

	// headers

	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 20px;
		font-weight: 700;
	}

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 16px;
	}

	h4 {
		font-size: 120%;
	}

	h5 {
		font-size: 100%;
	}

	h6 {
		font-size: 80%;
	}


	// p

	p {
		margin-bottom: 10px;

		+ h1, + h2, + h3, + h4, + h5, + h6 {
			margin-top: 20px;
		}
	}

	> p:last-child,
	* p:last-child {
		margin-bottom: 0;
	}


	// lists

	ul, ol {
		margin: 10px 0 20px;

		> li {
			list-style: inherit;

			& + li {
				margin-top: 10px;
			}
		}
	}

	ul {
		list-style: none;
		position: relative;

		> li {
			position: relative;
			padding-left: 20px;

			&::after {
				content: '';
				@include position(absolute, 0, 50%, null, null);
				@include size(5px, 5px);
				transform: translateY(-50%);
				background: $color-orange;
				border-radius: 50%;
			}
		}
	}

	ol {
		counter-reset: myCounter;

		> li {
			padding-left: 30px;
			list-style: none;
			position: relative;

			&::after {
				content: counter(myCounter);
				counter-increment: myCounter;
				@include flex(center, center);
				@include position(absolute, 0, 3px, null, null);
				@include size(20px, 20px);
				@include font(13px, null, 0, $color-white, null);
				border-radius: 50%;
				background: $color-blue;
			}
		}
	}


	// table

	table {
		$border: 2px solid $border-color;
		$padding: 10px 15px;
		margin: 30px 0;
		border: $border;
		font-size: 14px;

		th {
			padding: $padding;
			border: $border;
			font-weight: 600;
		}

		td {
			padding: $padding;
			border: $border;

			&.title {
				@include font(17px, 600, 24px, $color-white, null);
				background: $color-blue;
			}
		}
	}

	.table-overflow {
		overflow: auto
	}

	// inline

	strong {
		font-weight: 700;
	}

	hr {
		margin: 15px 0;
		border-top: 1px solid $border-color;
	}

	blockquote {
		background: $color-gray-lite;
		padding: 10px 0 10px 20px;
		margin: 20px 40px 20px 20px;
		border-left: 4px solid $border-color;
	}

	.marker {
		padding: 1px 3px;
		background: #e5e5e5;
	}

	img {
		max-width: 100%;
	}

	a {
		text-decoration: none;
		position: relative;
		color: $color-blue;
		font-weight: 600;

		&::after {
			content: '';
			@include position(absolute, null, null, 0, 0);
			@include transition(all .3s);
			@include size(100%, 1px);
			background: $color-blue;
		}

		&:hover {
			&::after {
				left: 0;
				width: 0;
			}
		}
	}

	.page-title {
		margin: 30px 0 10px !important;
		line-height: 35px;
	}
}


@media (max-width: 768px) {
	.text-editor {
		font-size: 15px;
		line-height: 1.55;

		.universal-title {
			margin-top: 40px;
		}

		.page-title {
			line-height: 24px;
		}

		h2 {
			font-size: 21px;
		}

		blockquote {
			padding: 10px;
			margin: 30px 0;
		}

		ul {
			margin: 20px 0 10px;
		}

		img {
			object-fit: cover;
			max-height: 300px;
		}
	}
}

