.login {
    position: relative;
    @include flex(center, center);
    padding: 30px;
    background: $color;
    background-size: cover;

    &-bg {
        @include position(absolute, 0, 0);
        @include size(100%, 100%);
        overflow: hidden;
    }

    &-content {
        position: relative;
        z-index: 100;
        width: 450px;
        max-width: 100%;
        background: #fff;
        padding: 30px 40px;
        border: 1px solid $color-gray;
        box-shadow: 0 0 35px rgba(#000, 0.2);
    }

    &-title {
        @include font(18px, 700, 25px);
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &-form {

        .actions {
            @include flex(center, space-between);
            margin-top: 20px;

            &-link {
                color: inherit;
                text-decoration: none;

                .fa5 {margin-right: 5px}

                span {
                    @include font(null, 500, null, $color-gray);
                    text-decoration: underline;
                }

                &:hover {
                    span {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
