* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6,
form, input, textarea, button, select, option,
ul, li, ol, img, p, hr,
table, tr, td, thead, tbody, tfoot {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    @include size(100%, 100%);
}

body {
    @include font($font-size, null, null, $color, $font);
    @include transition;
    display: flex;
    background: null;
    flex-direction: column;
    animation: fadeIn 0.5s linear;

    &.overflow {
        overflow: hidden;
        padding-right: 8px;

        .navigation-global {
            left: -8px;
        }
    }
;

    &::-webkit-scrollbar {
        width: 3px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

input, textarea, button, select {
    @include font($font-size, null, null, $color, $font);
}

button {
    cursor: pointer;
}

a {
    color: $color-orange;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol, li {
    list-style: none;
}

::-webkit-input-placeholder {
    @include font($font-size, null, null, $color-gray-lite, $font);
}

:-moz-placeholder {
    @include font($font-size, null, null, $color-gray-lite, $font);
}

:focus {
    outline: 0;
}

::selection {
    color: $color-white;
    background: $color-orange;
}

::-webkit-scrollbar {
    width: 8px;

    &-track {
        border-radius: 0;
        box-shadow: none;
        border: 0;
        background-color: #eaeaea;
        border-left: 1px solid #cecece;
    }

    &-thumb {
        border-radius: 0;
        box-shadow: none;
        border: 0;
        background-color: $color-gray;

        &:hover {
            background-color: $color-blue;
        }
    }
}


@media (max-width: 768px) {
    body {
        &.overflow {
            padding-right: 0;
        }
    }
}
