/* HEADERS
--------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	@include font(null, 700, 1.2);
}

h1, .h1 {font-size: $font-h1;}
h2, .h2 {font-size: $font-h2;}
h3, .h3 {font-size: $font-h3;}
h4, .h4 {font-size: $font-h4;}
h5, .h5 {font-size: $font-h5;}
h6, .h6 {font-size: $font-h6;}


/* FONT WEIGHT STYLE
------------------------------------------------------------------------ */

.light {font-weight: 300;}
.regular {font-weight: 400;}
.medium {font-weight: 500;}
.semibold {font-weight: 600;}
.bold {font-weight: 700;}

.italic {font-style: italic;}


/* SIZES
--------------------------------------------------------*/

small, .small {font-size: $font-small;}
big, .big {font-size: $font-big;}

sub {
	vertical-align: sub;
	font-size: $font-small;
}

sup {
	vertical-align: super;
	font-size: $font-small;
}


/* ALIGN, TRANSFORM, DECORATION
--------------------------------------------------------*/

@each $align in left, right, center, justify {
	.text-#{$align} {text-align: $align;}
}

@each $transform in uppercase, lowercase, capitalize  {
	.#{$transform} {text-transform: $transform;}
}

.notransform {text-transform: none;}

.underline {text-decoration: underline;}
.linethrough {text-decoration: line-through;}


/* CODE
------------------------------------------------------------------------ */	

code {
	padding: 2px 4px;
	@include font(90%, null, null, #c7254e, 'Courier New');
	background-color: #f9f2f4;
}